body{
    background-color: lawngreen;
}
header{
    display: flex;
    flex: 1;
    background: url('https://lh3.googleusercontent.com/sitesv/AAzXCkeIHfoaLnAMo0yjswwV_klkykLLpwbb_FyuNEL664hRTE-ZGJYZCsgCdPleJoosN9D08L_eyddSp6nb4w3aS-QgVMSyz_CtOnSZyxzL7NB4ZZCoIkt5XLQUjuIhqSe_cyyiOS1-5PIia-n4gHRMjGDQu5-m17pq3eyhyWxjN2xSBLFioE4tOTsiwa0=w16383') no-repeat;
    width: 2000px;
    height: 500px;
}

.title{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 1890px;
}
header > title{
    font-family: 'Rock Salt';
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
}
nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    position: relative;
    vertical-align: top;
    list-style-type: none;
    margin: 10px;
    border-color: beige;
    justify-content: space-between;
}

header > a > img{
    max-width: 100%;
    height: auto;

}

a > .logo {
    display: none;
}
.phone{

}
#activities{

}

.imgwrapper{

}

.imgdiv{

}

.video{

}

.links{

}

img {
    
}
title{
    
}
ul{

}
header{
    display: flex;
    text-align: center;
    width: 2000px;
    height: 425px;
    
}
body *
{
    border:1px solid black; 
}